header {
  display: flex;
  justify-content: space-around;
  background-color: #fcfcfc;
  width: 100%;
  padding: 20px;
  box-shadow: 1px 1px 3px rgba(82, 82, 82, 0.514);
  position: relative;
  margin: 0;
}

nav p,
nav ul {
  display: inline-block;
  vertical-align: middle;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav p {
  color: #d8d6d8;
  padding-right: 10px;
  vertical-align: middle;
}

nav ul li {
  display: inline-block;
}

.icon-facebook {
  background-image: url("../images/social_media_icons/facebook-hover.png");
}
