header {
  display: flex;
  justify-content: space-around;
  background-color: #fcfcfc;
  width: 100%;
  padding: 20px;
  box-shadow: 1px 1px 3px rgba(82, 82, 82, 0.514);
  position: relative;
  margin: 0;
}

/* Icons de redes sociais */
.redes-sociais span {
  color: #d8d6d8;
  margin-right: 10px;
}

/* Icons */
.redes-sociais,
.redes-sociais .icons {
  display: flex;
}

.redes-sociais .icons a {
  display: inline-block;
  background-size: cover;
  content: "";
}

.redes-sociais ul li a {
  margin-right: 4px;
}

.redes-sociais .icons .icon-youtube {
  width: 30px;
  height: 30px;
  background-image: url(../images/social_media_icons/yt.png);
  background-size: cover;
  content: "";
  transition: all 0.6s;
}

.redes-sociais .icons .icon-youtube:hover {
  background-image: url(../images/social_media_icons/youtube-hover.png);
}

.redes-sociais .icons .icon-twitter {
  width: 30px;
  height: 30px;
  background-image: url(../images/social_media_icons/twitter.png);
  background-size: cover;
  content: "";
  transition: all 0.6s;
}

.redes-sociais .icons .icon-twitter:hover {
  background-image: url(../images/social_media_icons/twitter-hover.png);
}

.redes-sociais .icons .icon-facebook {
  width: 30px;
  height: 30px;
  background-image: url(../images/social_media_icons/facebook.png);
  background-size: cover;
  content: "";
  transition: all 0.6s;
}

.redes-sociais .icons .icon-facebook:hover {
  background-image: url(../images/social_media_icons/facebook-hover.png);
}
