@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: none;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

:root {
  --cor-p: #cbc9d2;
  --sombra: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  --cor-principal: #578d60;
}

body {
  overflow-x: hidden;
  background-color: #f5f4f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: auto;
}

/* Conteúdo */
article,
form {
  display: block;
}

/* Introdução */
article h1 {
  margin-bottom: 0.9rem;
  font-size: clamp(14px, 4.8vw, 23px);
  font-weight: 600;
  position: relative;
  cursor: pointer;
}

article h1:after {
  content: "";
  position: absolute;
  display: block;
  position: absolute;
  border-radius: 8px;
  width: 0;
  height: 2px;
  margin-top: 4px;
  background-color: var(--cor-principal);
  transition: 0.6s;
}

article h1:hover:after {
  width: 85%;
}

article p {
  color: var(--cor-p);
  font-size: clamp(14px, 2vw, 16px);
  width: 450px;
  margin-bottom: 2rem;
}

/* Vídeo */
iframe {
  border-radius: 3px;
  box-shadow: var(--sombra);
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  width: 27vw;
  background-color: white;
  padding: 15px 17px;
  border-radius: 5px;
  margin-left: 1.2rem;
  margin-bottom: 3rem;
  box-shadow: var(--sombra);
}

form h1,
form span:nth-of-type(1),
form span:nth-of-type(2) {
  margin-bottom: 1.2rem;
  margin-top: 10px;
  font-size: clamp(14px, 4.8vw, 23px);
  text-transform: uppercase;
  font-weight: 600;
}

form span:nth-of-type(1),
form span:nth-of-type(2) {
  color: var(--cor-principal);
}

form p:nth-of-type(1) {
  font-size: clamp(14px, 2vw, 16px);
  margin-bottom: 1.8rem;
  width: 85%;
}

form p:nth-of-type(2) {
  margin-top: 15px;
  font-size: 0.8rem;
}

form #mensagem {
  color: red;
  font-size: 12px;
  margin-top: -10px;
}

form input {
  padding: 12px;
  margin-bottom: 1rem;
  cursor: pointer;
  background-color: #eeedef;
  border: 1px solid rgba(163, 163, 163, 0.726);
  border-radius: 3px;
  transition: all 0.4s;
}

form button {
  text-transform: uppercase;
  background-color: var(--cor-principal);
  color: white;
  border: none;
  padding: 10px;
  transition: all 0.5s;
}

form button:hover {
  background-color: #057939;
  letter-spacing: 1.5px;
  font-weight: bold;
}

form p {
  color: var(--cor-p);
  font-size: clamp(12px, 2vw, 16px);
}

form input:focus {
  outline: none;
  border-color: black;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 5px;
  margin: 0 auto;
}

footer p {
  color: var(--cor-p);
  font-size: clamp(12px, 2vw, 14px);
}

footer span {
  font-weight: bold;
  color: var(--cor-principal);
}

footer ul li {
  display: inline-block;
}

@media (max-width: 768px) {
  section,
  article,
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
  }

  article h1:hover:after {
    width: 100%;
  }
  article p {
    width: 90%;
  }

  iframe {
    width: 90vw;
    height: 50vw;
  }

  form,
  form input,
  form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;
  }
  form input,
  form button {
    margin-top: 10px;
  }
  form {
    margin-bottom: 30px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer p {
    width: 90%;
  }
}
