@import url("https://fonts.googleapis.com/css2?family= Roboto :wght@300 & display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --margin-title: 0.9rem;
  --color-p: #cbc9d2;
}

body {
  overflow-x: hidden;
  background-color: #f5f4f6;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Conteúdo */
article,
form {
  display: block;
  margin: 0;
  padding: 0;
}

article h1 {
  margin-bottom: var(--margin-title);
  font-size: clamp(18px, 1.9rem, 22px);
}

article p {
  color: var(--color-p);
  font-size: clamp(14px, 1.2rem, 16px);
  width: 450px;
  margin-bottom: 2rem;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: auto;
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  width: 28%;
  background-color: white;
  padding: 25px;
  border-radius: 5px;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

form h1 {
  margin-bottom: var(--margin-title);
  font-size: clamp(18px, 1.9rem, 22px);
  text-transform: uppercase;
}

form p {
  color: var(--color-p);
}

form p:nth-of-type(1) {
  margin-bottom: 2rem;
}

form p:nth-of-type(2) {
  font-size: clamp(10px, 1.1rem, 12px);
}

form input {
  padding: 10px;
  margin-bottom: 0.9rem;
  cursor: pointer;
  background-color: #eeedef;
  border: 1px solid rgba(49, 49, 49, 0.726);
  border-radius: 3px;
}

form input:nth-of-type(4) {
  text-transform: uppercase;
  background-color: #578d60;
  color: white;
  border: none;
  padding: 10px;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 100%;
}

footer ul li {
  float: left;
}

footer p {
  color: var(--color-p);
  width: 30%;
  font-size: 16px;
}

footer span {
  font-weight: bold;
  color: #6f877e;
}
