@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: none;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

:root {
  --color-p: #cbc9d2;
  --sombra: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  --cor-principal: #578d60;
}

body {
  overflow-x: hidden;
  background-color: #f5f4f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  align-items: baseline;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: auto;
}

/* Conteúdo */
article,
form {
  display: block;
}

/* Introdução */
article h1 {
  margin-bottom: 0.9rem;
  font-size: clamp(18px, 1.9rem, 22px);
  font-weight: 600;
  position: relative;
}

article h1:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 5px;
  width: 16%;
  height: 2px;
  margin-top: 4px;
  background-color: var(--cor-principal);
}

article p {
  color: var(--color-p);
  font-size: clamp(14px, 1.2rem, 16px);
  width: 450px;
  margin-bottom: 2rem;
}

/* Vídeo */
iframe {
  border-radius: 3px;
  box-shadow: var(--sombra);
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  width: 27vw;
  background-color: white;
  padding: 15px 17px;
  border-radius: 5px;
  margin-left: 1.2rem;
  margin-bottom: 3rem;
  box-shadow: var(--sombra);
}

form h1, 
form span {
  margin-bottom: 1.2rem;
  margin-top: 10px;
  font-size: clamp(18px, 1.9rem, 22px);
  text-transform: uppercase;
  font-weight: 600;
}

form span {
  color: var(--cor-principal);
}

form p {
  color: var(--color-p);
}

form p:nth-of-type(1) {
  font-size: 16px;
  margin-bottom: 1.8rem;
  width: 85%;
}

form p:nth-of-type(2) {
  font-size: clamp(10px, 1.1rem, 12px);
}

form input {
  padding: 13px;
  margin-bottom: 1rem;
  cursor: pointer;
  background-color: #eeedef;
  border: 1px solid rgba(163, 163, 163, 0.726);
  border-radius: 3px;
  transition: all 0.4s;
}

form input:nth-of-type(4) {
  text-transform: uppercase;
  background-color: var(--cor-principal);
  color: white;
  border: none;
  padding: 10px;
  transition: all 0.5s;
}

form input:nth-of-type(4):hover {
  background-color: #000000;
}

form input:focus {
  outline: none;
  border-color: black;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: -23px 0;
  background-color: #F2F2F2;
  padding: 8px 15px;
  border-radius: 5px;
}

footer p {
  color: var(--color-p);
  width: 49%;
  font-size: 14px;
}

footer span {
  font-weight: bold;
  color: var(--cor-principal);
}

footer ul li {
  display: inline-block;
}
